* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;    
}

body {
    overflow-y: scroll;
}

ul {
    list-style-image: url(../img/listBullet.svg);
}

ul > li {
    text-align: left;
    padding: .5rem 0;
}

.center {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.topBar {
    color: white;
    flex-flow: row;
    justify-content: space-between;
    height: 80px;
    padding: .5em;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.1); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.topBar i {
    visibility: hidden;
}

.logo {
    max-width: 7%;
}

.backArrow {
    color: white;
}

.main {
    background-image: url(../img/miastko.gif);
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-position-y: -75px;
    /* filter: brightness(50%); */
    /* z-index: 999; */
}

.content {
    width: 1100px;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;  
}

.content  h2 {
    font-size: 60px; 
}

.credits {
    display: block;
    position: fixed;
    bottom: 0;
    color: rgba(122, 122, 122, 0.548);
    padding: .25rem;
    /* font-weight: 700; */
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #555;
}