body {
    margin: 0 !important; 
    font-family: 'Open Sans', sans-serif;
    color: white;    
}
/*-----------------------HEADER PC-----------------------*/
nav
{
    background-color: #044399;
    height: 12vh;
    width: 100vw; 
}

.logo {
    height: 12vh;
    margin-left: 1.1vh;
    float: left;
}

.R_topbar {
    float: right;
    height: 12vh;
}

ul.nav {
    float:left;
    height: 12vh;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.menu {
    display: block;
    width: 18vw;
    height: 12vh;
    margin-right: 1vw;   
    background-color: rgba(255,255,255,0.050);
    text-align: center;
    line-height: 12vh;
    font-weight: 700;
    font-size: 3.2vw;
    transition: background-color 0.5s;
}

.menu:last-child{
    margin: 0;
}

.menu:hover {
    
    background-color: rgba(255,255,255,0.2);
    transition: background-color 0.5s;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:visited{
    text-decoration: none;
    color: inherit;
}


@media screen and (max-width: 1024px) {
    .nav {
        display: none !important;
    }
}

/*-----------------------HEADER MOBILE-----------------------*/

@media screen and (min-width: 1025px) {
    .nav_drop {
        display: none !important;
    }
}

.nav_drop {
    height: 12vh;
    width: 14vh;
    margin-right: 6vw;
    background-color: rgba(250,250,250,0.0.050);
    text-align: center;
    transition: background-color 0.5s;
    display: block;
    position: relative;
    align-content: center;
}

.nav_drop:hover {
    background-color: rgba(250,250,250,0.2);
    transition: background-color 0.5s;
}

img.nav_button {
    height: 12vh;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.drop-content{
    display: none ;
    background-color: #044399;
    margin: 0;
    width: 40vw;
    float: right;
    
}

.drop-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    color: white;
    font-weight: 700;
    font-size: 5vw;
    height: 10vh;
    line-height: 10vh;
}

.drop-content a:hover{
    background-color: rgba(250,250,250,0.2);
    transition: background-color 0.5s;
}

.nav_drop:hover .drop-content {
    display: block;
}

/*----------------------- CONTENT -----------------------*/

