@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: radial-gradient(
      600.25px at 0% 100%,
      rgba(255, 0, 0, 0.15) 0%,
      rgba(255, 0, 0, 0) 100%
    ),
    radial-gradient(
      600.52px at 100% 0%,
      rgba(0, 102, 255, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #000000;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.container {
  display: flex;
  flex-flow: row;
  height: 70%;
}

.logo {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 2.5rem;

}

.logoButton {
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
}

.logoImg {
  width: 100%;
}

.contentContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: white;
  padding: 2.5rem;
  font-size: 1.2rem;
  min-width: 65%;
  max-width: 65%;
}

.content {
  display: none;
}

.contentVisibility {
  display: block;
	-webkit-animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.introParagraph {
  text-align: right;
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30%;
  color: white;
}

.buttonsContainer {
  width: 70%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.button {
  background: transparent;
  border: solid 4px #fff;
  color: white;
  font-size: 2rem;
  min-width: 220px;
  padding: 1.3rem;
  width: 270px;
}

.contentChanger {
    transition: transform 500ms ease-out;
}

.contentChanger:hover {
  transform: translateY(-2px);
  transition: transform 300ms ease-in;
}

.textCenter {
  text-align: center;
}

a > .fab {
  vertical-align: middle;
  padding-left: 1rem;
  color: white;
  transition: transform 500ms ease-out;

}

a:hover > .fab  {
  transform: translateY(-2px);
  transition: transform 300ms ease-in;
}

a:visited > .fab {
  color: white;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-26 12:28:48
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
