body {
    margin: 0 !important; 
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* Background pattern from subtlepatterns.com */
    background-image: url(../img/bg.png);
}

.eraser{
    clear: both;
}
/*-----------------------HEADER PC-----------------------*/
nav
{
    background-color: #044399;
    height: 86px;
    width: 100%;
    -webkit-box-shadow: 1px -1px 26px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 26px 9px rgba(0,0,0,0.75);
    box-shadow: 1px -1px 26px 9px rgba(0,0,0,0.75);
}

.logo {
    height: 86px;
    margin-left: 10px;
    float: left;
}

.R_topbar {
    float: right;
    height: 86px;
    min-height: 50px;
}

ul.nav {
    float:left;
    height: 86px;
    margin: 0;
    padding: 0;
    min-height: 50px;
}

li {
    float: left;
}

.menu {
    display: block;
    width: 18vw;
    height: 86px;
    margin-right: 1vw;   
    background-color: rgba(255,255,255,0.050);
    text-align: center;
    font-weight: 700;
    font-size: 3.2vw;
    line-height: 80px;
    transition: background-color 0.5s;
}

.menu:last-child{
    margin: 0;
}

.menu:hover {
    
    background-color: rgba(255,255,255,0.2);
    transition: background-color 0.5s;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:visited{
    text-decoration: none;
    color: inherit;
}


@media screen and (max-width: 1024px) {
    .nav {
        display: none !important;        
    }
    .content{
        float: none !important;
        width: 100% !important;
    }
    nav{
      height: 120px;  
    }
    .logo{
        height:  120px;
    }
}

/*-----------------------HEADER MOBILE-----------------------*/

@media screen and (min-width: 1025px) {
    .nav_drop {
        display: none !important;
    }
    
}

.nav_drop {
    height: 120px;
    width: 120px;
    margin-right: 6vw;
    background-color: rgba(250,250,250,0.0.050);
    text-align: center;
    transition: background-color 0.5s;
    display: block;
    position: relative;
    align-content: center;
}

.nav_drop:hover {
    background-color: rgba(250,250,250,0.2);
    transition: background-color 0.5s;
}

img.nav_button {
    height: 120px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.drop-content{
    display: none;
    background-color: #044399;
    margin: 0;
    width: 40vw;
    float: right;
    
}

.drop-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    color: white;
    font-weight: 700;
    font-size: 46px;
    height: 75px;
    line-height: 60px;
}

.drop-content a:hover{
    background-color: rgba(250,250,250,0.2);
    transition: background-color 0.5s;
}

.nav_drop:hover .drop-content {
    display: block;
}

/*----------------------- CONTENT -----------------------*/


.container{
    width: 90%;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.75);
}

.content{
    float:left;
    width:50%;
    box-sizing: border-box;
    padding: 20px;
}