.topBar a i {
    visibility: visible;
}

.tableWrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.col {
    width: 28%;
    min-height: 500px;
    background-color: rgba(0 , 0, 0, 0.5);
    padding-left:2rem;
}

h3 {
    text-align: left;
}

ul {
    list-style-image: url(../img/listBullet.svg);
}

ul > li {
    text-align: left;
    padding: .5rem 0;
}