@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: radial-gradient(
      600.25px at 0% 100%,
      rgba(255, 0, 0, 0.15) 0%,
      rgba(255, 0, 0, 0) 100%
    ),
    radial-gradient(
      600.52px at 100% 0%,
      rgba(0, 102, 255, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #000000;
}

.container {
  display: flex;
  flex-flow: row;
  height: 70%;
}

.logo {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 2.5rem;

}

.logoImg {
  width: 100%;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: white;
  padding: 2.5rem;
  font-size: 1.2rem;
  width: 80%;
}

.content > p {
  text-align: right;
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30%;
  color: white;
}

.buttonsContainer {
  width: 70%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.button {
  background: transparent;
  border: solid 4px #fff;
  color: white;
  font-size: 2rem;
  min-width: 220px;
  padding: 1.3rem;
  width: 270px;
}