
header {
    height: 120px;
    border-bottom: 1px black solid;
}

body {
    margin: 0;
    font-family: 'Tahoma';
}

header>img {
    height: 120px;
    margin-left: 20px;
}

header>div {
    float: right;
    height: inherit;
    width: 200px;
    margin-left: 5px;  
}



nav {
    float: right;
}

nav>div {
    float: left;
    margin-top: 20px;
    height: 80px;
    width: 200px;
    margin-left: 40px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    font-weight: 700;
}

nav>div:last-child {
    clear: both;
    display: none;
}

nav>div:hover{
    background-color: #ebebeb; 
}

nav>div>a{
    text-decoration: none;
    color: black;
    display: block;
}

nav>div>a:visited{
    color: black;
}

main>div{
    margin-top: 40px;
    height: 400px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    box-sizing: border-box;
    padding: 25px;
}


table {
    text-align: center;
}

#kontakt>div{
    float: left;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding: 30px;
}

#kontakt {
    margin-bottom: 60px;
}

#return{
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 1px;
    right: 15px;
    text-align: center;
    line-height: 45px;
    font-size: 40px;
    border: 2px black solid;
    color: black;
    text-decoration: none;
}

#return:visited{
    color: black;
}

#dzialalnosc>div{
    float: left;
    width: 50%;
}

#img_dz{
    height: 270px;
    float: right;
    margin-right: 80px;
}

textarea{
    resize: none;
}